<a href="/movies">Go back</a>

<div class="movieDetails">
    <div class="movieImage">
        <img src="{{data.image}}" alt='{{data.title}} image'>
        </div>
    <h2>{{data.title}}</h2>
    <h3>Director: {{data.director}}</h3>
    <h4>Stars</h4>
        <p>{{data.stars}}</p>
    <p>{{data.description}}</p>

    
    <div>|{{data.showtimes}}|</div>

    
    

</div>
